// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

body
  background: #000000

img
  width: 200px
  height: 200px

.icon
  display: block
  margin: 20px
  width: 70px
  height: 70px
  -webkit-border-radius: 120px
  border-radius: 120px

.want
  background-image: url("http://i.giphy.com/CPDbE8X0nEe3u.gif")
  background-size: cover
  background-position: center
  color: white
  h3
    color: white

.caution
  background-image: url("http://i.giphy.com/TQOtX0pQUHxPW.gif")
  background-size: cover
  background-position: center
  color: white
  h3
    color: white

.qol
  background-image: url("http://i.giphy.com/Yb3d5B1zwuhCo.gif")
  background-size: cover
  background-position: center
  color: white

.end
  background-image: url("http://i.giphy.com/l0MYvt6rmEHEbCWo8.gif")
  background-size: cover
  background-position: center
  color: white
